{% from "macros/logo/macro.twig" import logo %}
{% from "macros/menu/macro.twig" import menu %}
{% from "macros/mobile-menu/macro.twig" import mobileMenu %}

<header class="bg-fg px-8 py-4">
    <div class="container flex justify-between items-center">
        {{ logo() }}

        {{ mobileMenu(menu, globals.phone ?? "0208 300 8833") }}
        {{ menu(menu) }}
    </div>
</header>