.block-area,
.block-editor-block-list__layout.is-root-container,
.block-editor-inner-blocks > .block-editor-block-list__layout {
	--gutter: var(--space-8, 2rem);
	--columns: var(--gutter) calc(var(--gutter) / 2) 1fr calc(var(--gutter) / 2)
		var(--gutter);

	display: grid;
	grid-template-columns: var(--columns);

	> * {
		grid-column: 2 / span 3;
		width: 100%;
	}

	> * + * {
		margin-block-start: var(--row-gap, var(--space-10));
	}

	> h1 + p,
	> h2 + p,
	> h3 + p,
	> h4 + p,
	> h5 + p,
	> h6 + p {
		--row-gap: var(--space-3);
	}

	> p + p,
	> p + ul,
	> ul + p,
	> ul + ul,
	> p + ol,
	> ol + p,
	> ol + ol {
		--row-gap: var(--space-4);
	}

	> .no-spacing {
		--row-gap: 0;
	}

	> .alignfull,
	[data-align='full'] {
		grid-column: 1 / -1;
	}

	@media (min-width: 460px) {
		> .alignwide,
		[data-align='wide'],
		> .woocommerce {
			grid-column: 2 / span 3;
		}
	}

	@media (min-width: 768px) {
		--content-width: 640px;
		--columns: var(--gutter) 1fr var(--content-width) 1fr var(--gutter);

		> * {
			grid-column: 3;
		}
	}

	@media (min-width: 1024px) {
		--content-width: 720px;
		--columns: var(--gutter) 1fr 1fr var(--content-width) 1fr 1fr
			var(--gutter);

		> * {
			grid-column: 4;
		}

		> .alignwide,
		[data-align='wide'],
		> .woocommerce {
			grid-column: 3 / span 3;
		}
	}
}
