.c-checkbox,
.c-radio {
	--size: var(--space-6);
	position: relative;
}

.c-checkbox label,
.c-radio label {
	--icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE4LjcxLDcuMjFhMSwxLDAsMCwwLTEuNDIsMEw5Ljg0LDE0LjY3LDYuNzEsMTEuNTNBMSwxLDAsMSwwLDUuMjksMTNsMy44NCwzLjg0YTEsMSwwLDAsMCwxLjQyLDBsOC4xNi04LjE2QTEsMSwwLDAsMCwxOC43MSw3LjIxWiIvPjwvc3ZnPg==');
	--border-width: var(--space-half);
	--border-color: var(--color-gray-30);
	--border-color-checked: var(--color-positive);
	--radius: var(--radius-base);

	align-items: center;
	display: flex;
	user-select: none;
}

.c-radio label {
	--icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiIGNsYXNzPSJ1aW0tcHJpbWFyeSIvPjwvc3ZnPg==');
	--radius: var(--radius-full);
}

.c-checkbox label:before,
.c-radio label:before {
	border-radius: var(--radius);
	border: var(--space-half) solid var(--border-color);
	content: '';
	display: block;
	flex-shrink: 0;
	height: var(--size);
	margin-right: var(--space-2);
	pointer-events: none;
	width: var(--size);
}

.c-checkbox input,
.c-radio input {
	height: var(--size);
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: var(--size);
}

.c-checkbox input:checked + label:before,
.c-radio input:checked + label:before {
	background-image: var(--icon);
	background-position: center;
	background-repeat: no-repeat;
	border-color: var(--border-color-checked);
}
