{% extends 'layouts/default.twig' %}

{% block content %}
	<main id="content" class="content-container | mt-2">
		<div class="block-area" style="--row-gap: var(--space-16)">
			{{ this.content }}
		</div>
	</main>
{% endblock %}
