.account-form {
	display: grid;
	gap: var(--space-4);
}

@media (min-width: 840px) {
	.account-form {
		grid-template-columns: 1fr 17rem;
	}

	.account-form__form {
		order: 1;
	}

	.account-form__order-summary {
		order: 2;
	}
}
