.menu {
	display: none;

	.menu__item {
		position: relative;
	}

	a {
		color: var(--menu-link-color, var(--color-gray-70));
		text-decoration: none;

		&:hover {
			--menu-link-color: var(--menu-link-color-hover, var(--color-gray-90));
		}
	}

	.menu__dropdown {
		background-color: var(--menu-dropdown-background-color, white);
		box-shadow: var(--menu-dropdown-shadow, var(--shadow-xl));
		left: calc(var(--menu-dropdown-h-offset, var(--space-2)) * -1);
		min-width: var(--menu-dropdown-min-width, 10rem);
		padding: var(--menu-dropdown-padding, var(--space-4) var(--space-6));
		position: absolute;
		top: var(--menu-dropdown-v-offset, var(--space-8));
	}
}
