:root {
	--editor-sidebar-width: 380px;
}

.editor-post-title__input {
	border-bottom: 2px dashed #eeeef0 !important;
	margin-bottom: 24px !important;
	text-align: center;
}

/* Gutenberg Editor Changes */
.edit-post-layout.is-sidebar-opened .edit-post-plugin-sidebar__sidebar-layout,
.edit-post-layout.is-sidebar-opened .edit-post-sidebar {
	width: var(--editor-sidebar-width);
}

.edit-post-layout.is-sidebar-opened .edit-post-layout__content {
	margin-right: var(--editor-sidebar-width);
}
