.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

// .grid is defined in _grid.scss

.inline-grid {
	display: inline-grid;
}
