{% extends "layouts/default.twig" %}

{% block content %}
    <main id="content" class="content-container">
        <div class="block-area">
            {{ this.content }}
        </div>
    </main>
{% endblock %}