{% extends 'layouts/default.twig' %}

{% block content %}
	<main id="content" class="content-container">
		<div class="block-area | row-gap-10 py-20">
			<h1>{{ this.title }}</h1>
			{{ this.content }}
		</div>
	</main>
{% endblock %}
