/* Font family */
@each $token, $value in token('font') {
	.font-#{$token} {
		font-family: #{$value};
	}
}

/* Font size */
@each $token, $value in token('size') {
	.size-#{$token} {
		font-size: #{$value};
	}
}

/* Weight */
@each $token, $value in token('weight') {
	.weight-#{$token} {
		font-weight: #{$value};
	}
}

/* Leading / Line Height */
@each $token, $value in token('leading') {
	.leading-#{$token} {
		line-height: #{$value};
	}
}

/* Tracking / Letter Spacing */
@each $token, $value in token('tracking') {
	.tracking-#{$token} {
		letter-spacing: #{$value};
	}
}

/* Text Alignment */
.align-left,
.align-start {
	text-align: start;
}

.align-center {
	text-align: center;
}

.align-right,
.align-end {
	text-align: end;
}

/* Text Transform */
.uppercase {
	text-transform: uppercase;
}
